@{
    ViewData["Title"] = "PizzaEdit";
}

@model PizzaCategories

<form asp-controller="Pizza" asp-action="Edit" asp-route-id="@Model.Pizz.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <strong>Nome:</strong>
        <input asp-for="@Model.Pizz.Name" class="d-block w-50" />
        <span asp-validation-for="@Model.Pizz.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
            <strong>Link IMG:</strong>
            <input asp-for="@Model.Pizz.Image" class="d-block w-50" />
            <span asp-validation-for="@Model.Pizz.Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="@Model.Pizz.Price" class="d-block w-50" />
            <span asp-validation-for="@Model.Pizz.Price" class="text-danger"></span>
        </div>
        @*<div class="mb-3">
            <strong>Ingredienti:</strong>
            <input asp-for="@Model.Pizz.ingredients" class="d-block w-50" />
            <span asp-validation-for="@Model.Pizz.ingredients" class="text-danger"></span>
        </div>*@
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Pizz.CategoryId" class="d-block w-50">
                <option value="">-- Seleziona una categoria --</option>
                @foreach(Category category in @Model.Categories)
                {
                    @if(Model.Pizz.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <strong>Seleziona ingredienti:</strong>
            <select asp-for="SelectedIngredients"
                multiple="multiple" size="8"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList w-50"
                asp-items="@Model.Ingredients">
            </select>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea asp-for="@Model.Pizz.Description" class="d-block w-50"></textarea>
            <span asp-validation-for="@Model.Pizz.Description" class="text-danger"></span>
       </div>

       <div class="text-start">
            <input type="submit" class="btn btn-small btn-warning" value="Salva modifiche">
        </div>

</form>